---
---
/* --- Giovani Created This --- */

/* --- General --- */

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

/* --- Past Editions --- */

.editionbox {
  border: solid 1px Gainsboro;
  border-radius: 3px;
  font-style: normal;
  margin: 15px;
  display: inline-block;
  vertical-align: center;
  max-width: 100%;
  width: 360px;
  {% if site.edition-box-img %}
  background-image: url({{ site.edition-box-img | relative_url }});
  background-attachment: inherit;
  {% else %}
  background: Snow;
  {% endif %}
}

.editionscontainer{
  justify-content: flex-start | flex-end | center | space-between | space-around; text-align:center; width: 100%;
}

/* --- Steering Members --- */

.steeringpic {
  height: 150px;
  width: 100px;
  object-fit: cover;
  vertical-align: top;
  padding: 5px;
}
.steeringdetails {
  vertical-align: top;
  padding: 5px;
  margin-top: -15px;
}

/* --- Hall of Fame --- */

.badge {
  background-color: RoyalBlue;
  margin-left: 2px;
}

.link-badge  {
  background-color: Maroon;
}

.badge-place-1st {
  background-color: GoldenRod;
}

.badge-place-2nd {
  background-color: Silver;
}

.badge-place-3rd {
  background-color: Peru;
}