---
layout: page
title: Hall of Fame
subtitle: SSBSE Hall of Fame - best paper awards and challenge winners.
---

{%- assign editions = site.data.bestpapers | sort: "year" | reverse -%}
<!-- <h1 class="text-center">Best Paper Awards</h1>
<br/> -->
{% include ssbse/awards.html %}

{% comment %} <!-- liquid comment  -->
<hr/>

{%- assign editions = site.data.challengewinners | sort: "year" | reverse -%}
<h1 class="text-center">Challenge Winners</h1>
<br/>
{% include ssbse/awards.html %}
{% endcomment %} <!-- liquid comment  -->