
div#content h1 {
	font-size: 0; color: #0d0d0d; 
text-indent: -1000em; display: block; text-decoration: none; 
margin: 0; padding: 0; border: 0; 
background: url("../images/h1-discussionpanel.gif") 0px 0px no-repeat; 
width: 380px; height: 45px 
;
}

div.panelmember {
	overflow: hidden;
	position: relative;
	margin: 30px 0px 10px 30px;
}

div.panelmember img {
	border: 3px white solid;
	float: left;
}

div.panelmember div {
	float: left;
	width: 700px;
	padding-left: 20px;
}


div.panelmember div h2 {
	margin: 0 !important;
	padding: 0;

}

div.panelmember p {
	font-size: 10pt;
}

div.panelmember p strong {
	font-size: 11pt;
}

div#infocolumn {
	float: right; 
	width: 220px;
}

div#keydates {
	float: right;
	width: 100%;	
}

div#keydates h2 {
	font-size: 0; color: #0d0d0d; 
text-indent: -1000em; display: block; text-decoration: none; 
margin: 0; padding: 0; border: 0; 
background: url("../images/heading-keydates-normal.gif") 0px 0px no-repeat; 
width: 185px; height: 38px 
	
}

div#keydates ul {
	padding:0; 
	margin:10px 0 20px 3px; 
	list-style:none;
}

div#keydates li:first-child {
	border-top: #565656 1px dotted;
}

div#keydates li {	
	overflow: hidden;
	font-size: 9pt;
	border-bottom: #565656 1px dotted;
	position: relative;
	padding: 5px 0px 5px 0px;
}

div#keydates div.date, div.near-date, div.past-date {
	color: #c3d833;
	font-size: 13pt;
	display: block;
	float: left;
}

div#keydates div.past-date {
	text-decoration:line-through;
}

div#keydates div.near-date {
	color: #88dff4;
}

div#keydates div.event {
	position: absolute;
	bottom: 7px;
	left: 65px;
}


div#latestnews {
	float:right;
	width: 100%;		
}

div#latestnews h2 {
	font-size: 0; color: #0d0d0d; 
text-indent: -1000em; display: block; text-decoration: none; 
margin: 0; padding: 0; border: 0; 
background: url("../images/heading-latestnews.gif") 0px 0px no-repeat; 
width: 215px; height: 30px 
	
}

div#latestnews ul {
	padding: 0; 
	margin: 10px 0 0 3px; 
	list-style: none; 
}

div#latestnews li:first-child {
	border-top: #565656 1px dotted;
}

div#latestnews li {
	font-size: 9pt;
	border-bottom: #565656 1px dotted;
	padding: 8px 10px 8px 25px;
	color: white;	
	background: url("../images/bullet.gif") 10px 16px no-repeat;
}