/**
 * WP.com stylesheet for Twenty Twelve.
 */

/* Plugins */
#infinite-handle span {
	line-height: 3;
}

/* Widgets */
.widget_flickr #flickr_badge_wrapper {
	background-color: transparent;
	border: none;
}
#flickr_badge_uber_wrapper {
	width: auto;
}