<h1 class="text-center"><a class="anchor" id="about"></a>About</h1>
<br/>
<div class="text-justify">
	<h3>SBSE: Search Based Software Engineering</h3>
	
	<p>Search Based Software Engineering (SBSE) is the reformulation of software engineering tasks as optimisation problems.</p>

	<p>The objective of the search becomes that of locating, from among all possible solutions to the problem, one that is sufficiently good according to an appropriate fitness metric. This reformulation enables previously manually intensive and costly tasks to be partially or fully automated, solves problems that are intractable by other methods, and often leads to innovative and insightful solutions.</p>

	<p>The combination of readily available, high-performance computing power, and new, more efficient, search algorithms has made SBSE a practical solution method for many software engineering problems. This is reflected in the interest in this field from both academia and industry, and the very wide range of applications throughout the software engineering lifecycle, to which it has been successfully applied.</p>
</div>