<h1 class="text-center"><a class="anchor" id="about"></a>About</h1>
<br/>
<div class="container-fluid">
	<div class="row text-justify">
		<div class="col-lg-6">
			<h3>SBSE: Search Based Software Engineering</h3>
			
			<p>Search Based Software Engineering (SBSE) is the reformulation of software engineering tasks as optimisation problems.</p>

			<p>The objective of the search becomes that of locating, from among all possible solutions to the problem, one that is sufficiently good according to an appropriate fitness metric. This reformulation enables previously manually intensive tasks to be partially or fully automated, solves problems that are intractable by other methods, and often leads to innovative and insightful solutions.</p>

			<p>The combination of readily available, high-performance computing power, and new, more efficient, search algorithms has made SBSE a practical solution method for many software engineering problems. This is reflected in the interest in this field from both academia and industry, and the very wide range of applications throughout the software engineering lifecycle, to which it has been successfully applied.</p>
		</div>
		<div class="col-lg-6">
			<h3>SSBSE: Symposium on Search Based Software Engineering</h3>

			<p>The objective of the Symposium on Search Based Software Engineering (SSBSE) is to bring the rapidly growing international search based software engineering community together in a welcoming forum for discussion and dissemination, as well as to sustain the flourishing of interest in the field from researchers and practitioners in software engineering and metaheuristic search alike.</p>
		</div>
	</div>
</div>