{%- assign arraysize = member.terms | where_exp: "term","term.end >= site.next-edition" | size -%}
{%- assign nullarraysize = member.terms | where_exp: "term","term.end == null" | size -%}
{%- if arraysize > 0 or nullarraysize > 0 -%}
    <div class="media">
        <div class="media-left media-top">
            {% if {{member.picture}} %}
                <img class="media-object steeringpic" src="{{member.picture}}" />
            {% else %}
                <img class="media-object steeringpic" src="img/steering_committee/avatar.png" />
            {% endif %}
        </div>
        <div class="media-body steeringdetails">
            {%- assign terms = member.terms | sort: 'end' -%}
            <h2 class="media-heading">{{member.title}} {{member.name}}{% if member.chair %} (Chair){%- endif -%}</h2>
            <h3>{{member.organisation}}</h3>
            <h4><a class="fa fa-home" href="{{member.website}}" target="_blank"> Home Page</a></h4>
            <h5>Terms:
            {% for term in terms %}
                {{term.start}} - 
                {% if term.end -%}
                    {{term.end}}
                {%- else -%}
                    present
                {%- endif -%}
                {%- if forloop.last == false -%}
                ,
                {%- endif -%}
            {% endfor %}
            </h5>
        </div>
    </div>
{%- endif -%}