<h1 class="text-center"><a class="anchor" id="steering"></a>Steering Committee</h1>
<br/>
<div class="container-fluid">
	{%- assign thisyear = site.time | date: '%Y' | to_integer -%}
	{%- assign members = site.data.steering | where: "chair", true | sort: "name" -%}
	{%- for member in members %}
		{% include ssbse/member.html %}
	{%- endfor %}
	{%- assign members = site.data.steering | where_exp: "item", "item.chair == nil" | sort: "name" -%}
	{%- for member in members %}
		{% include ssbse/member.html %}
	{%- endfor %}
</div>